{% extends 'app/base.html' %}

{% block body %}
            {% if user_list %}
                <div class="container-fluid bg-3 text-center">
                  <h1>Search for Matches</h1><br>
                      <div class="row">
                         {% for user in user_list %}
                             {% if not user.is_superuser%}
                                 {% if user.id != request.user.id %}
                                    <div class="col-sm-3">
                                      <h3>{{ user.username }}</h3>
                                      <a href={% url 'app:profile' user.id %}><img src="{{ user.userprofile.image_url }}" class="img-responsive" style="width:100%" alt="Image"></a>
                                    </div>
                                 {% endif %}
                            {% endif %}
                        {% endfor %}
                      </div>
                </div>
                <br>
            {% else %}
            <p>No users.</p>
        {% endif %}
{% endblock %}