{% extends 'app/base.html' %}
{% load functions %}
{% block body %}
<style type="text/css">
img#profile-image{
    max-width: 400px;
    max-height: 400px;
}

#match_details{
    border: 1px #dedede solid;
    width: 600px;
    margin: auto;
    text-align: left;
    padding: 10px 15px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 3px #dfdfdf;
    -webkit-box-shadow: 0 0 3px #dfdfdf;
    box-shadow: 0 0 3px #dfdfdf;
}

#about
{
    width:600px;
    margin: auto;
    text-align: left;
    padding: 10px 15px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.header {
    font-family: "Arial Black";
}

.match_card {
    font-size:20px;
    margin: 0 10px 75px;
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 280px;
    height: 385px;
    border-radius: 3px;
    box-shadow: 0 1px 4px rgba(0,0,0,.1);
    background: #fff;
    opacity: 1;
    visibility: visible;
}

.image_wrapper{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    display: block;
    height: 215px;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 1;
    background-color: transparent;
    text-align: center;
    color: transparent;
}

.match_button{
    display: inline-block;
    border-radius: 4px;
    background-color: transparent;
    border: match;
    color: black;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.match_button:hover{
    background-color:green;
    color:white;
}

.un-match_button{
    display: inline-block;
    border-radius: 4px;
    background-color: green;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
</style>
<body>
    {% if user_list %}
            <div class="container-fluid bg-3 text-center">
              <h1>Search for Matches</h1><br>
                  <div class="row">
                     {% for user in user_list %}
                        {%if not user.is_superuser%}
                            {% if request.user.userprofile.activities.all|intersect_activities:user.userprofile.activities.all|length >= 1%}
                      <div id="" class="col-sm-3">
                          <div class = "match_card">
                          <a class="image_link" href="{%url 'app:profile' user.id %}">
                          <span class="image_wrapper">
                              <img src="{{ user.userprofile.image_url }}" alt="profile_picture" style='height: 100%; width: 100%; object-fit: contain'>
                          </span>
                          </a>
                          <div class="match_card_text">
                              <div class="profile_info">
                                  <div class="username"><span class="username-text">
                              <a href="{%url 'app:profile' user.id %}" class="name">{{ user.username }}</a>
                          </span>
                          <span class="onlinedot username-online">
                          </span>
                      </div>
                          <div class="userinfo">
                              <span class="age">{{user.userprofile.user_age}}</span>
                              <span class="dot">· </span>
                              <span class="location">{{user.userprofile.address_city}}, CA</span></div>
                      </div>
                      <div class="percentages hide_on_hover">
                          <div class="percentage_wrapper match">
                              {% with mine=request.user.userprofile.activities.all|length %}
                                    {% with match=request.user.userprofile.activities.all|intersect_activities:user.userprofile.activities.all|length %}
                                        <span style = "color:red;" class="percentage">
                                            {{match|as_percentage_of:mine}}
                                        </span>
                                    {%endwith%}
                              {% endwith %}
                              <span>Match</span>
                          </div>
                          <div class="">
                          </div>
                      </div>
                              {%if user in matches %}
                                  <a href="{% url 'app:update_match' operation='remove' pk=user.pk%}">
                                      <button class="un-match_button">Remove</button>
                                  </a>
                              {%else%}
                                  <a  href="{% url 'app:update_match' operation='add' pk=user.pk%}">
                                      <button class="match_button">Favorite</button>
                                  </a>
                              {%endif%}
                            </div>
                          </div>
                      </div>
                            {%endif%}
                        {%endif%}
                    {% endfor %}
                  </div>
            </div>
    {% else %}
        <p>No users.</p>
    {% endif %}
</body>
{% endblock %}