{% extends 'app/base.html' %}

{% block body %}
        {% if user_list %}
            <div class="container-fluid bg-3 text-center">
              <h1>Search for Matches</h1><br>
                  <div class="row">
                     {% for user in user_list %}
                         {% if not user.is_superuser%}
                             {% if user.id != request.user.id %}
                                {% for my_activity in request.user.userprofile.activities.all %}
                                    {% for activity in user.userprofile.activities.all %}
                                        {% if my_activity == activity %}
                                            <!-- counter++ -->
                                            <div class="col-sm-3">
                                              <h3>{{ user.username }}</h3>
                                              <a href= "{% url 'app:profile' user.id %}"><img src="{{ user.userprofile.image_url }}" class="img-responsive" style="width:100%" alt="Image"></a>
                                            </div>
                                        {%endif%}
                                    {% endfor%}
                                 {% endfor %}
                             {% endif %}
                        {% endif %}
                    {% endfor %}
                  </div>
            </div>
            <br>

           <!-- {% for user in user_list %}
            <h1 style = "color:red;">{{request.user.username}}</h1> # ME 
            {% if user.id != request.user.id %} # if user is not me
                    <br/><h1>{{user.username}}</h1>
                    {%for my_activity in request.user.userprofile.activities.all%}
                        {%for activity in user.userprofile.activities.all %}
                            {%if my_activity == activity%}
                                <h3>**{{activity.name}} equals {{my_activity.}}</h3>
                            {%endif%}
                        {%endfor%}
                    {%endfor%}
                {%endif%}
            {%endfor%}
-->
        {% else %}
        <p>No users.</p>
    {% endif %}
{% endblock %}