{% extends 'app/base.html' %}
{% block body %}
<style type="text/css">
    img{
        max-width: 400px;
        max-height: 400px;
    }

    #user-details {
        align:left;
    }

    .button {
      display: inline-block;
      border-radius: 4px;
      background-color: green;
      border: none;
      color: #FFFFFF;
      text-align: center;
      font-size: 14px;
      padding: 10px;
      width: 100px;
      transition: all 0.5s;
      cursor: pointer;
      margin: 5px;
    }
</style>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12 panel well">
                    <div class="col-md-3 col-md-offset-2" >
                        <img src="{{ user.userprofile.image_url }}"/>
                    </div>
                    <div class="col-md-4 col-md-offset-2">
                        <h1>{{ user }}</h1>
                        <h4>{{user.userprofile.user_age }} - {{ user.userprofile.address_city }}, CA</h4><br/>
                        <button class="button" style="vertical-align:middle">Message</button>
                        {%if user not in matches%}
                            <button class="button" style="vertical-align:middle">Favorite</button>
                        {%else%}
                            <button class="button" style="vertical-align:middle">Remove</button>
                        {%endif%}
                    </div>
                </div>
            </div>
              <div class="row">
                <div class="col-md-7">

                  <div class="row">
                    <div class="col-md-12 well">
                      <div class="panel panel-default text-left">
                        <div class="panel-body">
                          <p contenteditable="true">Status: Feeling Blue</p>
                          <button type="button" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-thumbs-up"></span> Like
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12 well">
                      <div class="well">
                          <h3>About Me</h3>
                        <p>{{user.userprofile.bio}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 well">
                      <div class="well">
                          <h3>Goal</h3>
                        <p>{{user.userprofile.goal}}</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-md-offset-2 well">
                  <div class="well" id="user-details">
                    <strong><p>Details</p></strong>
                    <p>Weight: {{user.userprofile.weight}}</p>
                    <p>Height: {{user.userprofile.height}}</p>
                    <p>Body Type: {{user.userprofile.height}}</p>
                    <p>Gender: {{user.userprofile.gender}}</p>
                    <button class="btn btn-primary">Info</button>
                  </div>
                  <div class="well">
                    <strong><p>Interests</p></strong>
                    <p>
                        {% for activity in user.userprofile.activities.all %}
                            <span class="label label-primary">{{activity.name}}</span>
                        {% endfor %}
                    </p>
                  </div>
                </div>
              </div>
        </div>
    </body>
{% endblock %}